version: '3.8'

services:
  jenkins-master:
    image: jenkins/jenkins:lts
    container_name: jenkins-master
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
    networks:
      - jenkins-net

  jenkins-builder:
    build: .
    container_name: jenkins-builder
    user: root
    ports:
      - "2222:22"
    networks:
      - jenkins-net

networks:
  jenkins-net:

volumes:
  jenkins_home: